@(user : String, contactList: List[Models.Contact]) 
@import helper._

@main { 

<div id="contacts-wrap">
	<div id="contacts">
		<table class="table">
			<tr>
				<td>Name</td>
				<td>Surname</td>
				<td>Company name</td>
				<td>Email</td>
				<td>Phone number</td>
				<td>Action</td>
			</tr>

			@for(l <- contactList) {
				<tr>
					<td>@l.getName()</td>
					<td>@l.getSurname()</td>
					<td>@l.getCompanyName()</td>
					<td>@l.getEmail()</td>
					<td>@l.getPhoneNumber()</td>
					<td>
						<form action="@routes.Contacts.delete(l.getId())">
					
									<input type="submit" value="Delete" class="btn btn-danger btn-lg">
						
							
						</form>
					</td>
				</tr>
			}
		</table>
	</div>
	<div id="newContact">
		<a href="@routes.Contacts.addContact()" class="btn btn-success btn-lg">Add new contact</a>
	</div>
</div>

}

